@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dotted {
  background-color: #FCFCFD; 
  background-image: radial-gradient(#cdd1d8 1px, transparent 0);
  background-size: 24px 24px;
}